<td class="image"><div class="img {{payee.image}}"></div></td>
<td class="payee">
  <div class="name">{{payee.name}}</div>
  <div class="amount">{{currency model.amount}}</div>
</td>
<td class="iban center">{{model.iban}}</td>
<td class="bank center">{{model.bank}}</td>
<td class="date center">{{model.date}}</td>
